body {
    background-color: grey;
    text-align: center;
}

h1 {
    color: #ffffff;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
}